[submodule "vendors/spdlog"]
	path = vendors/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendors/Catch2"]
	path = vendors/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "vendors/cpp-httplib"]
	path = vendors/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
