menu "Train ESP Client"
    menu "Wifi Prov"
        config WIFI_AP_SSID
            string "Access point ssid"
            default "esp_device"
        config WIFI_AP_PASSWORD
            string "Access point password"
            default ""
        config WIFI_AP_MAX_CONNECTIONS
            int "Max Connections"
            default 1
    endmenu

    menu "Task Events"
        config TCP_EVENT_QUEUE_SIZE
            int "Size of the tcp event queue"
            default 10
    endmenu

    menu "RTOS Tasks"
        menu "TCP"
            config TCP_TIMEOUT_ATTEMPTS
                int "Timeout retry attempts"
                default 3
            config TCP_TIMEOUT
                int "Timeout reconnect wait"
                default 30
        endmenu

        menu "NFC"
            config NFC_TASK_STACK
                int "Task stack size (words)"
                default 3500
            config NFC_TASK_PRIORITY
                int "Task priority"
                default 1
            config NFC_MISO_GPIO
                int "Miso pin"
                default 19
            config NFC_MOSI_GPIO
                int "Mosi pin"
                default 18
            config NFC_SCK_GPIO
                int "Sck pin"
                default 21
            config NFC_CS_GPIO
                int "Cs pin"
                default 5
        endmenu
    endmenu
endmenu